.xlabs_popup {
    padding: 10px 50px;
    position: fixed;
    bottom: 0; left: 0; right: 0;
    width: 100%;
    display: inline-block;
    -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
    min-height: 50px;
    z-index: 100;
}
.xlabs_popup span{
    display: inline-block; float: left; font: .9em arial, verdana, sans-serif; text-align: left;
}
.xlabs_popup i {
    font-size: 2em;
    vertical-align: middle;
}

.xlabs_popup.xlabs_info {
    color: #00529B;
    background-color: #BDE5F8;
}
.xlabs_popup.xlabs_success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.xlabs_popup.xlabs_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.xlabs_popup.xlabs_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.xlabs_popup .icon {
    position: absolute;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    left: 10px;
}
.xlabs_popup .xlabs_close {right: 5px; cursor: pointer; top: 5px; position: absolute; display: inline-block; width: 30px; opacity: 1; }
.xlabs_popup .xlabs_close:hover { opacity: .6; }