<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css"/>
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    </head>
    <body>
        {% include 'XLabsPopupBundle:Popup:loader.html.twig' %}

        <a href="{{ path('xlabs_popup_example', { 'type': 'info' }) }}">Info message</a>
        <br />
        <a href="{{ path('xlabs_popup_example', { 'type': 'error' }) }}">Error message</a>
        <br />
        <a href="{{ path('xlabs_popup_example', { 'type': 'warning' }) }}">Warning message</a>
        <br />
        <a href="{{ path('xlabs_popup_example', { 'type': 'success' }) }}">Success message</a>
    </body>
</html>