{% block _xlabs_popup %}
    <link rel="stylesheet" href="{{ asset('bundles/xlabspopup/css/xlabs_popup.css') }}" type="text/css"/>

    {% for msgType in ['error', 'warning', 'info', 'success'] %}
        {% if app.session.flashBag.has('xlabs_'~msgType) %}
            {% include 'XLabsPopupBundle:Popup:'~msgType~'.html.twig' with {
                'messages': app.session.flashBag.get('xlabs_'~msgType)
            } %}
        {% endif %}

        {% if app.session.flashBag.has('xlabs_autoclose_'~msgType) %}
            <script>
                $(window).load(function(){
                    setTimeout(function() {
                        $('.xlabs_popup.xlabs_{{ msgType }} .xlabs_close').click();
                    }, {{ app.session.flashBag.get('xlabs_autoclose_'~msgType)[0] }});
                });
            </script>
        {% endif %}
    {% endfor %}

    <script>
        $('.xlabs_popup').on('click', '.xlabs_close', function(){
            var popup = $(this).closest('.xlabs_popup');
            popup.fadeOut(700, function() {
                popup.remove();
            });
        });
    </script>
{% endblock _xlabs_popup %}