<div class="xlabs_popup xlabs_{{ msgType }}">
    <i class="fa fa-check icon"></i>
    <span>{{ messages | join('<br />') | raw }}</span>
    <i class="fa fa-times xlabs_close" aria-hidden="true"></i>
</div>